body{
background-color:rgb(172, 219, 217);
color:rgb(82, 81, 81);
text-align:center;

}
table{margin:0 auto;} 
h1{box-shadow:2px 2px azure;

}
img{
border:2px ridge white;
border-radius:10%;
}
.box{margin-top:5%;}
caption{font-weight:bold;color:rgb(111, 110, 110);text-align:center;}
table{
border:2px inset rgb(152, 199, 152);
}






